# .editorconfig
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts,tsx,css,scss,md,move}]
charset = utf-8

[*.{js,jsx}]
indent_style = space
indent_size = 2

[*.{toml}]
indent_style = space
indent_size = 2
